<a routerLink="/add-item">Add item</a>
<input type="text"
        placeholder="keyword"
        [(ngModel)]="filters.keyword"
        name="keyword"
        (input)="listItems()">

<select name="SortBy" [(ngModel)]="filters.sortBy" title="sortBy" id="">
  <option value=""> Name </option>
  <option value=""> Amount </option>
</select>

<div *ngFor="let item of items">
  <h3>{{item.itemName}}</h3>

  <p>{{item.amount | currency : 'NGN'}}</p>
  <p>{{item.location}}</p>
  <p>{{item.description}}</p>
  
  <a routerLink="/edit-item/{{items.id}}">Edit</a>
  <button type="button" (click)="deleteItem(item.id)">Delete</button>
</div>
